<div class="movie-wrapper" ng-app>
    <div class="search">
        <input type="text" placeholder="Film arayın..." [(ngModel)]="searchText" (keyup.enter) ="getMovies()">
        <i class="fa fa-search" aria-hidden="true"></i>
    </div>
    <div class="clearfix"></div>
<div class="thumbnail" *ngFor="let movie of movies">
            <img [src]="movie.Poster">
            <h1>{{movie.Title}}</h1>
            <h2>{{movie.Type}}</h2>
            <div class="rate">{{movie.Year}}</div>     
    </div> 
    <span *ngIf="errorMessage">{{errorMessage}}</span>
  </div>

